<%- include('partials/header') %>

    <br>
    <div class="container-fluid text-center">
        <form action="">
            <input id="search_input" type="search" name="search">
            <button id="search_button" class="btn btn-outline-dark">Search</button>
        </form>
    </div>
    
    <hr>

    <div id="calendar" class="container-fluid text-center">
        <div class="row">
            <% for(let i = 0; i < 30; i++) { %>
                <div id="day_block" class="col-lg-1.7 col-md-1.7 col-sm-1.7 text-left">
                    <div>
                        <h4><%= `${i}` %></h4>
                        <p>Stayed Home ()</p>
                        <p>Delivery    (x)</p>
                        <p>Symptoms    ()</p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <br>
   
    <div id="journal" class="container-fluid">
        <h4>Journals here</h4>
        <form id="search_form" action="http://127.0.0.1:8000/journal_entry/" method="POST">
            <input id="date" type="date" name="date">
            <input id="time" type="time" name="time">
            <input id="activity" type="text" name="activity">
            <input id="location" type="text" name="location">
            <select id="choice1" name="choice1">
                <option value="wore_mask">Wore Mask</option>
                <option value="did_not">Did not wear Mask</option>
            </select>
            <select id="choice2" name="choice2">
                <option value="wore_mask">Wore Mask</option>
                <option value="did_not">Did not wear Mask</option>
            </select>
            <input id="contact" type="text" name="contact">
            <input id="notes" type="text" name="notes">
            <button id="journal_btn" class="btn btn-outline-dark" type="submit">Submit</button>
        </form>
    </div>
    


<%- include('partials/footer') %>