body {
    height: 100vh;
    
    /* Center and scale the image nicely */
    background-image: url('../images/cover_photo2.png');
    background-repeat: no-repeat;
    background-position: center; 
    top: 50%;
   /* background: white; */
}

