.navbar {
    background: rgba(138, 138, 138, 0);
    /* border-bottom: 1px solid rgb(57, 57, 57); */
}
.nav-link {
    color: rgb(57, 57, 57);
}
.nav-link:hover {
    color:grey
}
.navbar-toggler-icon {
    background:rgb(57, 57, 57);
}