.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Tonyas CSS */
body, button, input, select, textarea {
  color: #404040;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* END TONYA's */


/* NAVBAR */
.navbar {
  background-color: #f25f70;
}
.nav-link {
  color: #fff;
  font-weight: 600;
  line-height: 1.7143;
  font-size: 14px;
}
.nav-link:hover {
  color: #4f4f4f;
  transition: ease 0.3s;
}
.jumbotron-fluid {
  background-color: #fff;
}
/* END NAVBAR */

/* CALENDAR */
#calendar {
  height: 800px;
}
.week-day {
  background-color: #4f4f4f;
  color: #fff;
  border: 1px solid white;
  padding-left: 6px;
  padding-right: 6px;
}

/* Iphone plus and down */
@media only screen and (max-width: 414px) {
  #calendar {
    height: 800px;
  }
  .week-day {
    background-color: #4f4f4f;
    color: #fff;
    border: 1px solid white;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.4rem;
  }
  .week-date {
    border: 1px solid #4f4f4f;
    padding: 5px;
    font-size: 1.4rem;
  }
  .col {
    padding-right: 8px;
    padding-left: 8px;
  }
  #calendarDate {
    padding-left: 2px;
    padding-right: 2px;
  }
  
}

/* END CALENDAR */